<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        {{ partial "head.html" .}}


    </head>
    <body class="">











    {{ partial "nav.html" .}}

    



       


        <div class="separator-greenLine">
            {{ partial "home-whatIsVertcoin.html" .}}

           
        </div>


        <section class="separator-greenLine" style="">
            {{ partial "home-how.html" .}}
            {{ partial "home-how-questions.html"  .}}
        </section>


       




        <section class="separator-greenLine" style="">
            {{ partial "home-litbox.html" .}}
        </section>

   

    

        <section class="separator-greenLine" style="">
            {{ partial "home-socialContract.html" .}}
        </section>



<section class="separator-greenLine" style="">
            {{ partial "home-communityStatus.html" .}}
        </section>

      

       



        <section class="separator-greenLine aboutSection">
		{{ partial "home-contact.html" .}}
        </section>


        <div class="separator-greenLine" style="padding-top: 40px;">
        {{ partial "footer.html" .}}
        </div>


        {{ partial "js.html" .}}
        
    <script type="text/javascript" src="/js/base.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    </body>

      

    

</html>
