<section id="home-reason" data-section="home-communityStatus">




        <div class="wrapper">
            <div class="inner-wrapper">
                <div class="childController">


            
                    <p>{{ i18n "reason_description" | markdownify }}</p>


          <!--           <p style="    text-align: center;
    font-size: 12px;
    opacity: 0.5;
    margin-top: 70px;">We're fed up with the shit that goes on in Cryptocurrency and you should be too. We're going to get the job done whether you like it or not.</p> -->




                </div>
            </div>
        </div>







</section>