<section id="home-miningCTA" data-section="home-socialContract">





        <div class="wrapper">
            <div class="inner-wrapper">
                <div class="childController">

    				<p style="">{{ i18n "oneClick_description" | markdownify }}</p>
                    <h3 style="">{{ i18n "oneClick_title" | markdownify }}</h3>
                    





                    <a class="button" href="/mine" target="_blank">{{ i18n "oneClick_download" | markdownify }}</a>
             
                


                </div>
            </div>
        </div>








</section>