<div id="home-litLinks" data-section="home-howQuestions">





        <div class="wrapper" style="padding-bottom: 0px;">
            <div class="inner-wrapper">
                <div class="childController">

                   

                    <div class="howTitles"> <a href='https://github.com/mit-dci/lit' target='_blank'>https://github.com/mit-dci/lit</a></div>


                  <p style="    text-align: center;
    font-size: 13px;
    opacity: 0.5;
    margin-top: 70px;
    max-width: 1000px;">Vertcoin & <a href="https://dci.mit.edu/" target="_blank" style="color: #1d1d1d; font-weight: 400; text-decoration: underline;">MIT DCI</a> share personnel however there is no official relationship.</p>



                </div>
            </div>
        </div>








</div>