<section id="home-socialContract" data-section="home-socialContract">





        <div class="wrapper">
            <div class="inner-wrapper">
                <div class="childController">

    				<p style="">{{ i18n "socialContract_description" | markdownify }}</p>
                    <h3 style="">{{ i18n "socialContract_title" | markdownify }}</h3>
                    





                    <a class="button" href="/mine" target="_blank">Download One-Click Miner</a>
             
                


                </div>
            </div>
        </div>








</section>