<section id="home-litbox" data-section="home-atomicSwaps">





        <div class="wrapper">
            <div class="inner-wrapper">
                <div class="childController">


                    <h3>{{ i18n "litBox_title" | markdownify }}</h3>
                    <h5 class="subtitle">{{ i18n "atomicSwaps_subtitle" | markdownify }}</h5>
                    
                    <div class="bulletPoint spaceBetween">
                    	

{{ range $index, $element := .Site.Params.litboxPoints.item }}

                    <div>{{ i18n (printf "litboxPoints_%d_title" $index) | markdownify }}</div>


                    {{ end }}




                    </div>
					<p>{{ i18n "litBox_description" | markdownify }}</p>
					<img src="/images/litboxWebsite.jpg" class="litboxImage">
                </div>
            </div>
        </div>








</section>
<div id="home-litLinks" data-section="home-howQuestions">

<div class="bulletPoint spaceBetween" style="display: none;">


                       
<div>Open Source</div>
                   
                       <div>Build Your Own</div>
                        <div>Unstoppable</div>
                       
                       


           


                    </div>



        <div class="wrapper">
            <div class="inner-wrapper">
                <div class="childController">

                   

                    <div class="howTitles"> <a href='https://github.com/mit-dci/lit' target='_blank'>https://github.com/mit-dci/lit</a></div>


                  <p style=" display: none;    text-align: center;
    font-size: 13px;
    opacity: 0.5;
    margin-top: 70px;
    max-width: 1000px;">LITbox exists because Lightning Network is an interactive protocol, without something like LITbox you'd have to trust a 3rd party which defeats the point of cryptocurrency. It would be the first software to create a full-stack crypto payment environment. The holy grail.</p>



                </div>
            </div>
        </div>

 






</div>