<section id="home-values" data-section="home-contact">



<div class="bulletPoint spaceBetween">
                    	

                    	{{ range $index, $element := .Site.Params.values.item }}

                    <div>{{ i18n (printf "values_%d_title" $index) | markdownify }}</div>


                    {{ end }}
                    	
                    	

                    </div>


<p style="    margin: 0 auto; text-align: center;
    font-size: 13px;
    opacity: 0.5;
    margin-top: 70px;
    max-width: 1000px;">tldr: Long-term distributed consensus (GPUs) & Vertcoin is the leader in layer two development.</p>

			








</section>