<div id="home-howQuestions" data-section="home-howQuestions">





        <div class="wrapper">
            <div class="inner-wrapper">
                <div class="childController">

                    {{ range $index, $element := .Site.Params.howQuestion.item }}

                    <h4 class="howTitles"> <a href='{{ .url }}' target='{{ .target }}'>{{ i18n (printf "howQuestion_%d_title" $index) | markdownify }}</a></h4>


                    {{ end }}



                </div>
            </div>
        </div>








</div>