<section id="home-litbox" data-section="home-atomicSwaps">





        <div class="wrapper">
            <div class="inner-wrapper">
                <div class="childController">


                    <h3>{{ i18n "litBox_title" | markdownify }}</h3>
                    <h5 class="subtitle">{{ i18n "atomicSwaps_subtitle" | markdownify }}</h5>
                    
                    <div class="bulletPoint spaceBetween">
                    	

{{ range $index, $element := .Site.Params.litboxPoints.item }}

                    <div>{{ i18n (printf "litboxPoints_%d_title" $index) | markdownify }}</div>


                    {{ end }}




                    </div>
					<p>{{ i18n "litBox_description" | markdownify }}</p>
					<img src="/images/litboxWebsite.jpg" class="litboxImage">
                </div>
            </div>
        </div>








</section>
<div id="home-litLinks" data-section="home-howQuestions">





        <div class="wrapper">
            <div class="inner-wrapper">
                <div class="childController">

                   

                    <div class="howTitles"> <a href='https://github.com/mit-dci/lit' target='_blank'>https://github.com/mit-dci/lit</a></div>


                  



                </div>
            </div>
        </div>








</div>