	<!-- jQuery -->
	<script src="/js/jquery.min.js"></script>
	<!-- Bootstrap -->
	<script src="/js/bootstrap.min.js"></script>
	
	<!-- Main JavaScript -->
	<script src="/js/main.js"></script>

    <script src="/js/donationfunds.js"></script>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	<script src="/js/jquery.viewportchecker.js"></script>
	
	<script>
		jQuery(document).ready(function() {
		jQuery('.wrapper, .container h1, .container p').addClass("hidden-anim").viewportChecker({
			classToAdd: 'visible-anim animated fadeIn',
			offset: 100
		   });
		});
	</script>